<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voice AI Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🎙️ Voice AI Detector</h1>
    <p class="subtitle">Detect whether a voice is AI-generated or Human</p>

    <div class="card">
        <label>Enter Energy Value</label>
        <input type="number" id="energy" placeholder="0 - 100">

        <button onclick="predict()">Analyze</button>

        <div id="result" class="result-box"></div>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
